---
import PopUpCreation from "../../../components/PopUpCreation.jsx";
import PopUpError from "../../../components/PopUpError.jsx";
import { getUser } from "../../../lib/auth";
import * as lib from "../../../lib/lib"
import { lookForBrothersWithCode ,lookForBrothersAncestorWithCode } from "../../../lib/lib";
import {formatDate} from "../../../lib/utils.ts"
let parent_id = Astro.url.searchParams.get("parentId");
let pppoType;
let invalid_code;
let formSent = false;
let radioButton;
let company;
let user = await getUser();
if(user == null){
  console.log("redirect");
  return Astro.redirect('/');
}else{
  company = user.company;
}
if (parent_id == null){
    parent_id = "";
    // SOLO PODRAS ELEGIR PORTFOLIO
    pppoType = -1;

}else{ // OTRAS OPCIONES A ELEGIR
    const pppo = await lib.getPPPOById(parent_id);
    pppoType = pppo.PPPO;

}


if (Astro.request.method === "POST") {
  try {
    // OBTENER COMPANY DE LA SESION Y padre
    
    
    //__-----
    const data = await Astro.request.formData();

    radioButton = Number(data.get("radio1"));
    const code = data.get("code").toString();
    // Look if there is a brother with the same code -> Cant create

    console.log(parent_id);
    console.log(company);
    console.log(code);

    if(parent_id == ""){
      invalid_code = await lookForBrothersAncestorWithCode(company,code);
    }else{
      invalid_code = await lookForBrothersWithCode(parent_id,code);
    }
    

    if(invalid_code){
      console.log("Invalido");
      console.log(invalid_code);
      // Meter Pop Up

    
    }else{
      console.log("Valido");
      console.log(invalid_code);
      const title = data.get("title").toString();
      const description = data.get("description").toString();
      const strategic_goal = data.get("strategic_goal").toString();
      const planned_value = Number(data.get("planned_value"));
      const actual_cost = Number(data.get("actual_cost"));
      const start_date = formatDate(data.get("start_date"));
      const finish_date = formatDate(data.get("finish_date"));
      const start_real_date = formatDate(data.get("start_real_date"));
      const finish_real_date = formatDate(data.get("finish_real_date"));
      const risk = Number(data.get("risk"));
      const priority = Number(data.get("priority"));
      const internal_manager = data.get("internal_manager").toString();
      const external_manager = data.get("external_manager").toString();
      // Cambiar:
      const state = "To Do";

      const res = await lib.createPPPO(
      radioButton,
      title,
      description,
      code,
      strategic_goal,
      planned_value,
      actual_cost,
      start_date,
      finish_date,
      start_real_date,
      finish_real_date,
      risk,
      priority,
      internal_manager,
      external_manager,
      company,
      parent_id,
      state
  );
    
    formSent = true;
    if (parent_id == ""){
      return Astro.redirect("/Company/PPPOs");
    }else{
      return Astro.redirect(`/Company/PPPO/Sons?parentId=${parent_id}`);
    }
    }
    
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}


---

<div class="flex items-center justify-center p-12">
  
  <div class="mx-auto w-full max-w-[550px] bg-white">
    {invalid_code && <PopUpError client:load />}
    
    <form action="" method="POST">
      
      <div class="mb-5">
        <label class="mb-3 block text-base font-medium text-[#07074D]">
          What object would you like to create?
        </label>
        <div class="flex items-center space-x-6">
          <div class="flex items-center">
            { parent_id === "" || pppoType === 0 ? 
            <input
              type="radio"
              name="radio1"
              id="radioButtonPortfolio"
              class="h-5 w-5"
              value="0"
            /> : 
            <input
              type="radio"
              name="radio1"
              id="radioButtonPortfolio"
              class="h-5 w-5"
              value="0"
              disabled
            />
            }
            <label
              for="radioButtonPortfolio"
              class="pl-3 text-base font-medium text-[#07074D]"
            >
              Portfolio
            </label>
          </div>

          <div class="flex items-center">
            { pppoType < 2 && pppoType != -1 ? 
            <input
            type="radio"
            name="radio1"
            id="radioButtonProgram"
            value="1"
            class="h-5 w-5"
            /> : 
            <input
            type="radio"
            name="radio1"
            id="radioButtonProgram"
            value="1"
            class="h-5 w-5"
            disabled
            />
            }
            <label
              for="radioButtonProgram"
              class="pl-3 text-base font-medium text-[#07074D]"
            >
              Program
            </label>
          </div>

          <div class="flex items-center">
            { pppoType < 3 && pppoType != -1 ? 
              <input
              type="radio"
              name="radio1"
              id="radioButtonProject"
              class="h-5 w-5"
              value="2"
            /> : 
            <input
              type="radio"
              name="radio1"
              id="radioButtonProject"
              class="h-5 w-5"
              value="2"
              disabled
            />
              }
            
            <label
              for="radioButtonProject"
              class="pl-3 text-base font-medium text-[#07074D]"
            >
              Project
            </label>
          </div>

          <div class="flex items-center">
            { pppoType < 2 && pppoType != -1 ? 
              <input
              type="radio"
              name="radio1"
              id="radioButtonOperation"
              class="h-5 w-5"
              value="3"
            /> : 
            <input
              type="radio"
              name="radio1"
              id="radioButtonOperation"
              class="h-5 w-5"
              value="3"
              disabled
            />
              }
            
            <label
              for="radioButtonOperation"
              class="pl-3 text-base font-medium text-[#07074D]"
            >
              Operation
            </label>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <label
          for="title"
          class="mb-3 block text-base font-medium text-[#07074D]"
          
        >
        Title
        </label>
        <input
          type="text"
          name="title"
          pattern="[A-Za-z0-9]+"
          title="You are only allowed to use alphanumeric characters"
          id="title"
          placeholder="Title"
          minlength="3"
          maxlength="50"
          required
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label
          for="description"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
        Description
        </label>
        <textarea
          name="description"
          id="description"
          placeholder="Description"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          maxlength="300"
          
          />
      </div>
      
      <div class="mb-5">
        <label
          for="title"
          class="mb-3 block text-base font-medium text-[#07074D]"
          
        >
        Code
        </label>
        <input
          type="text"
          name="code"
          id="code"
          placeholder="Code"
          minlength="2"
          maxlength="10"
          required
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label
          for="title"
          class="mb-3 block text-base font-medium text-[#07074D]"
          
        >
        Strategic Goal
        </label>
        <input
          type="text"
          name="strategic_goal"
          id="strategic_goal"
          placeholder="Strategic Goal"
          minlength="5"
          maxlength="50"
          pattern="[A-Za-z0-9]+"
          title="You are only allowed to use alphanumeric characters"
          required
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      
      <div class="-mx-3 flex flex-wrap">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label
              for="planned_value"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Planned Value
            </label>
            <input
              type="number"
              min="0"
              name="planned_value"
              id="planned_value"
              placeholder="Enter your planned value"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label
              for="actual_cost"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Actual Cost
            </label>
            <input
              type="number"
              min="0"
              name="actual_cost"
              id="actual_cost"
              placeholder="Enter your actual cost"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        </div>
      </div>
      
      <div class="-mx-3 flex flex-wrap">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label
              for="date"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
             Planned Start Date
            </label>
            <input
              required
              type="date"
              name="start_date"
              id="start_date"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label
              for="date"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Planned Finish Date
            </label>
            <input
              type="date"
              name="finish_date"
              id="finish_date"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        </div>
      </div>
      <div class="-mx-3 flex flex-wrap">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label
              for="date"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
             Start Real Date
            </label>
            <input
              type="date"
              name="start_real_date"
              id="start_real_date"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <label
              for="date"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Finish Real Date
            </label>
            <input
              type="date"
              name="finish_real_date"
              id="finish_real_date"
              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
          </div>
        </div>
      </div>
      <div class="mb-5 pt-3">
        <div class="-mx-3 flex flex-wrap">
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label
              for="text"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Risk
            </label>
            <div class="flex justify-between">
              <a class="text-left">Low</a>
              <a class="text-center">Medium</a>
              <a class="text-right">High</a>
            </div>
              <input
                required
                type="range"
                name="risk"
                id="risk"
                min="0" max="2" step="1"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium"
              />
            </div>
          </div>
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label
              for="text"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Priority
            </label>
            <div class="flex justify-between">
              <a class="text-left">Low</a>
              <a class="text-center">Medium</a>
              <a class="text-right">High</a>
            </div>
            <input
            required
            type="range"
            name="priority"
            id="priority"
            min="0" max="2" step="1"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium"
          />
            </div>
          </div>
        </div> 
      <div class="mb-5 pt-3">
        <div class="-mx-3 flex flex-wrap">
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label
              for="text"
              class="mb-3 block text-base font-medium text-[#07074D]"
            >
              Internal Manager
            </label>
              <input
                required
                type="text"
                name="internal_manager"
                pattern="[A-Za-z0-9]+"
                title="You are only allowed to use alphanumeric characters"
                id="internal_manager"
                placeholder="DNI of internal manager"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>
          </div>
          <div class="w-full px-3 sm:w-1/2">
            <div class="mb-5">
              <label
              for="text"
              class="mb-3 block text-base font-medium text-[#07074D]"
              
            >
              External Manager
            </label>
              <input
                type="text"
                name="external_manager"
                pattern="[A-Za-z0-9]+"
                title="You are only allowed to use alphanumeric characters"
                id="external_manager"
                placeholder="DNI of external manager"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>
          </div>
        </div> 
        
      

      <div>
        <button
          class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>