---
import Layout from '../../../layouts/Layout.astro';
import SideBar from '../../../components/SideBar.astro';
import Breadcrumb from '../../../components/Breadcrumb.astro';
const url = "http://127.0.0.1:8000";

let data;
//const idPPPO = params.get("idPPPO");

const idPPPO = Astro.url.searchParams.get("idPPPO");
console.log(Astro.url.searchParams.get("idPPPO"));

async function fetchPPPOs() {
    try {
        const response = await fetch(`${url}/PPPOs/${idPPPO}`);
        if (response.ok) {
            data = await response.json();
        } else {
            throw new Error('Error al obtener portfolios');
        }
    } catch (error) {
        console.error(error);
    }
}

await fetchPPPOs();
---

<div class="flex">
    <div class="w-1/5 h-full fixed inset-y-0 left-0 min-w-10">
        <SideBar />
    </div>
    <div class="w-4/5 h-full ml-64 overflow-auto">
   
        <div class="flex text-center justify-center m-5 flex-wrap">
            <Breadcrumb idPPPO={idPPPO} />
            <div class="m-5">
                {
                    data && (
                        
                    <p>
                        Hola, {idPPPO}
                    </p>
                    <p>
                    Hola, { data.title}
                    </p>
                    )
                }
            </div>
            
           
            
        </div>
    </div>


