---
const idPPPO = Astro.url.searchParams.get("idPPPO");
---

<button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Filter
</button>
<div id="popup-modal" tabindex="-1" class="hidden fixed inset-0 z-50 flex justify-center items-center bg-black bg-opacity-50 overflow-y-auto">
    <div class="relative p-4 w-full max-w-3xl max-h-3/4">
        <div class="relative bg-white rounded-lg shadow">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center mt-24">
                <label class="mb-3 block  text-2xl font-medium text-[#07074D]">
                    Filters
                </label>
                <div>
                    <div class="mb-5">
                        <label
                            for="title"
                            class="mb-3 block text-base font-medium text-[#07074D]"
                        >
                            Search
                        </label>
                        <input
                            type="text"
                            name="search"
                            id="search"
                            placeholder="Search Title or Code"
                            minlength="3"
                            maxlength="50"
                            required
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        />
                    </div>
                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label
                                    for="planned_valueMin"
                                    class="mb-3 block text-base font-medium text-[#07074D]"
                                >
                                    Minimum Planned Value
                                </label>
                                <input
                                    type="number"
                                    min="0"
                                    name="planned_valueMin"
                                    id="planned_valueMin"
                                    placeholder="Enter your minimum planned value"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                />
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label
                                    for="planned_valueMax"
                                    class="mb-3 block text-base font-medium text-[#07074D]"
                                >
                                    Maximum Planned Value
                                </label>
                                <input
                                    type="number"
                                    min="0"
                                    name="planned_valueMax"
                                    id="planned_valueMax"
                                    placeholder="Enter your maximum planned value"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label
                                    for="actual_costMin"
                                    class="mb-3 block text-base font-medium text-[#07074D]"
                                >
                                    Minimum Actual Cost
                                </label>
                                <input
                                    type="number"
                                    min="0"
                                    name="actual_costMin"
                                    id="actual_costMin"
                                    placeholder="Enter your minimum actual cost"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                />
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label
                                    for="actual_costMax"
                                    class="mb-3 block text-base font-medium text-[#07074D]"
                                >
                                    Maximum Actual Cost
                                </label>
                                <input
                                    type="number"
                                    min="0"
                                    name="actual_costMax"
                                    id="actual_costMax"
                                    placeholder="Enter your maximum actual cost"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label
                                    for="earned_valueMin"
                                    class="mb-3 block text-base font-medium text-[#07074D]"
                                >
                                    Minimum Earned Value
                                </label>
                                <input
                                    type="number"
                                    min="0"
                                    name="earned_valueMin"
                                    id="earned_valueMin"
                                    placeholder="Enter your minimum earned value"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                />
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label
                                    for="earned_valueMax"
                                    class="mb-3 block text-base font-medium text-[#07074D]"
                                >
                                    Maximum Earned value
                                </label>
                                <input
                                    type="number"
                                    min="0"
                                    name="earned_valueMax"
                                    id="earned_valueMax"
                                    placeholder="Enter your maximum earned value"
                                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                />
                            </div>
                        </div>
                        
                    </div>
                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="date" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Planned Start Date
                                </label>
                                <div class="flex">
                                    <div class="w-full sm:w-1/2 pr-1">
                                        <input
                                        type="date"
                                        name="start_dateMin"
                                        
                                        id="start_dateMin"
                                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                        />
                                    </div>
                                    <div class="w-full sm:w-1/2 pl-1">
                                        <input
                                        type="date"
                                        name="start_dateMax"
                                        
                                        id="start_dateMax"
                                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                        />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="date" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Real Start Date
                                </label>
                                <div class="flex">
                                    <div class="w-full sm:w-1/2 pr-1">
                                        <input
                                        type="date"
                                        name="start_real_dateMin"
                                        
                                        id="start_real_dateMin"
                                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                        />
                                    </div>
                                    <div class="w-full sm:w-1/2 pl-1">
                                        <input
                                        type="date"
                                        name="start_real_dateMax"
                                        
                                        id="start_real_dateMax"
                                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                        />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="date" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Planned Finish Date
                                </label>
                                <div class="flex">
                                    <div class="w-full sm:w-1/2 pr-1">
                                        <input
                                        type="date"
                                        name="finish_dateMin"
                                        
                                        id="finish_dateMin"
                                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                        />
                                    </div>
                                    <div class="w-full sm:w-1/2 pl-1">
                                        <input
                                        type="date"
                                        name="finish_dateMax"
                                        
                                        id="finish_dateMax"
                                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                        />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                            <div class="mb-5">
                                <label for="date" class="mb-3 block text-base font-medium text-[#07074D]">
                                    Real Finish Date
                                </label>
                                <div class="flex">
                                    <div class="w-full sm:w-1/2 pr-1">
                                        <input
                                        type="date"
                                        name="finish_real_dateMin"
                                        
                                        id="finish_real_dateMin"
                                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                        />
                                    </div>
                                    <div class="w-full sm:w-1/2 pl-1">
                                        <input
                                        type="date"
                                        name="finish_real_dateMax"
                                        
                                        id="finish_real_dateMax"
                                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                                        />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                            for="text"
                            class="mb-3 block text-base font-medium text-[#07074D]"
                          >
                            Risk
                          </label>
                          <div class="flex justify-between">
                            <a class="text-left">Low</a>
                            <a class="text-center">Medium</a>
                            <a class="text-right">High</a>
                          </div>
                            <input
                              required
                              type="range"
                              name="risk"
                              id="risk"
                              min="0" max="2" step="1"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium"
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                            for="text"
                            class="mb-3 block text-base font-medium text-[#07074D]"
                          >
                            Priority
                          </label>
                          <div class="flex justify-between">
                            <a class="text-left">Low</a>
                            <a class="text-center">Medium</a>
                            <a class="text-right">High</a>
                          </div>
                          <input
                          required
                          type="range"
                          name="priority"
                          id="priority"
                          min="0" max="2" step="1"
                          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium"
                        />
                          </div>
                        </div>
                      </div> 
                </div>
                
                <a href=`/Company/PPPO/Delete?idPPPO=${idPPPO}`>
                    <button data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        Filter
                    </button>
                </a>
                
                <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">No, cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    const modalButtons = document.querySelectorAll('[data-modal-toggle]');
    const modalCloseButtons = document.querySelectorAll('[data-modal-hide]');
    const modals = document.querySelectorAll('.modal');

    modalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const target = button.dataset.modalTarget;
            const modal = document.getElementById(target);
            modal.classList.toggle('hidden');
        });
    });

    modalCloseButtons.forEach(button => {
        button.addEventListener('click', () => {
            const target = button.dataset.modalHide;
            const modal = document.getElementById(target);
            modal.classList.add('hidden');
        });
    });
</script>
