---
const { userLogged } = Astro.props;
// Busqueda de la compañia y de portfolios...

// Mas tarde podemos meter permisos
---

<div class="bg-yellow-200 h-screen p-3 text-center">
<div class="sidebar">
    <h2>Porfolios</h2>
    <!-- Agregar todos los portfolios y hijos de la compañia del usuario logeado -->
    <ul>
        <li><a href="#">Portfolio 1</a></li>
        <li><a href="#">Enlace 2</a></li>
        <li><a href="#">Enlace 3</a></li>
        <!-- Puedes agregar más enlaces aquí -->
    </ul>
</div>
    
