---

import { getUser } from '../lib/auth';
import { getCompanyById } from '../lib/lib';
import TreeView from "../components/TreeView";
import * as lib from "../lib/lib";


let user = await getUser();
if(user == null){
  return Astro.redirect('/');
}
let company = await getCompanyById(user.company);
let companyCode = "";
if(company != null){
  companyCode=company.code;
}
let companyName = company?.name;
company = user.company;

async function getAllPPPOs(portfolioId : string) {
    let result = [];
    let children = await lib.fetchPPPOs(portfolioId);
    if (children) {
        for (let child of children) {
            let childInfo = {
                label: child.title, // Utiliza 'label' en lugar de 'title' para ajustarte al formato deseado
                parentId: child.idPPPO
            };
            let grandchildren = await getAllPPPOs(child.idPPPO);
            if (grandchildren.length > 0) {
                childInfo.submenu = grandchildren;
            }
            result.push(childInfo);
        }
    }
    return result;
}

let portfolios; 
portfolios = await lib.fetchPortfolios(company);

let menuData;

let allData = [];
for (let portfolio of portfolios) {
    let portfolioInfo = {
        label: portfolio.title, // Utiliza 'label' en lugar de 'title' para ajustarte al formato deseado
        parentId: portfolio.idPPPO
    };
    let children = await getAllPPPOs(portfolio.idPPPO);
    if (children.length > 0) {
        portfolioInfo.submenu = children;
    }
    allData.push(portfolioInfo);
}

menuData= JSON.stringify(allData, null, 2);

---
<div class="flex h-screen overflow-hidden bg-white" >
    <div class="hidden md:flex md:flex-shrink-0" >
      <div class="flex flex-col w-64" >
        <div class="flex flex-col flex-grow pt-5 overflow-y-auto bg-white border-r" >
          <div class="flex flex-col flex-shrink-0 px-4" >
            <a class="text-lg font-semibold tracking-tighter text-black focus:outline-none focus:ring " href="/Company/PPPOs">
              <span class="inline-flex items-center gap-2">
                 <!-- === Logo de la empresa o compañia === -->
                <svg class="w-5 h-5 mx-auto" viewBox="0 0 232 232" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M166.524 51.4683L116.367 101.625L65.5235 51.4683L116.367 0.62434L166.524 51.4683ZM231.11 116.054L180.953 166.898L130.796 116.054L180.953 65.8969L231.11 116.054ZM101.939 116.054L51.0948 166.898L0.250934 116.054L51.0948 65.8969L101.939 116.054ZM166.524 181.326L116.367 231.483L65.5235 181.326L116.367 130.482L166.524 181.326Z" fill="#0c0c0c"></path>
                </svg>
               <!-- === Nombre de la compañia === -->
                {companyName}
                
              </span>          </a>
            
          </div>
        
           <div class="m-2">
            <TreeView menuData={menuData} client:load />
           </div>
           
          <div class="fixed bottom-0 flex">
            
            <a href="/" class="p-1 border">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="28"  height="28"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-logout"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M9 12h12l-3 -3" /><path d="M18 15l3 -3" /></svg>
            </a>
            {
              user.admin == 1 && (
              <a href="/Company/UsersCreation" class="p-1 border">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="28"  height="28"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4" /><path d="M19 22v-6" /><path d="M22 19l-3 -3l-3 3" /></svg>
              </a>
              )
            }
           <a href=`/Profile?idPerson=${user.idPerson}` class="p-1 border">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="28"  height="28"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
           </a>
 
          </div>
            
          
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-1 w-0 overflow-hidden" >
      <main class="relative flex-1 overflow-y-auto focus:outline-none">
        <div class="py-6" >
          <div class="px-4 mx-auto 2xl:max-w-7xl sm:px-6 md:px-8" >
            <!-- === Remove and replace with your own content... === -->
            
            <!-- === End ===  -->
          </div>
        </div>
        
      </main>
    </div>
    
  </div>            