---
import Layout from '../layouts/Layout.astro';
import { setUser } from '../lib/auth';
import * as lib from "../lib/lib"

setUser(null); // ?¿?

if (Astro.request.method === "POST") {
  try {
	console.log("Sesion1");
    const data = await Astro.request.formData();
	console.log(data);
	const email = data.get("email").toString();
    const password = data.get("password").toString();
	const res = await lib.loginUser(
      email,
      password
  );
	console.log("Sesion");
    console.log(res);
	await setUser(res);


    return Astro.redirect("/Company/PPPOs");
    }catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Login Page">
	<div class="flex items-center justify-center w-screen h-screen bg-white">
	  <div class="text-center">
		
		<div class="min-h-screen flex items-center justify-center w-full dark:bg-gray-950">
			<div class="bg-white dark:bg-gray-900 shadow-md rounded-lg px-8 py-6 max-w-md">
				<h1 class="text-2xl font-bold text-center mb-4 dark:text-gray-200">Welcome Back!</h1>
				<form action="" method="POST">
					<div class="mb-4">
					  <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Email Address</label>
					  <input type="email" id="email" name="email" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="your@email.com" required>
					</div>
					<div class="mb-4">
					  <label for="password" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Password</label>
					  <input type="password" id="password" name="password" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Enter your password" required>
					  <a href="#"
						class="text-xs text-gray-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Forgot
						Password? (OPCIONAL)</a>
					</div>
					<button
					  class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
					>
					  Login
					</button>
				  </form>
				  
			</div>
		</div>
	  </div>
	</div>
  </Layout>
  