---
import Graph from '../components/GraphLineChart.jsx';
import { getMilestoneFromFather } from '../lib/lib';

const idPPPO = Astro.url.searchParams.get("idPPPO");
let milestones = await getMilestoneFromFather(idPPPO);

const data = milestones.map(milestone => ({
  name: milestone.code,
  pv: milestone.planned_value,
  ac: milestone.actual_cost
}));
console.log(data);
---
<h1>Hola</h1>
<Graph data={data} />